[Desktop Entry]
Name=skism
X-KDE-PluginInfo-Author=kmt1980
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=CCPL:by-sa
X-KDE-PluginInfo-Name=skism
X-KDE-PluginInfo-Version=.0.91
X-KDE-PluginInfo-Website=
